body{
    background-image:url(weather.jpg);
  
    background-size: cover;
}
.title{
   font-family: 'K2D', sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#forcast{
     font-family: 'K2D', sans-serif;
    font-size: 20px;
    font-weight: 200px;
    text-align: center; 
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Mymargine {
    margin-bottom: 50px;
    margin-top: 50px;
}

#mySearch{
    border-radius: 10px;
    height: 30px;
    width: 200px;
 font-family: 'K2D', sans-serif;
    font-size: 20px;
    padding-left: 10px;
     color: black;
   
}

::placeholder{
    font-family: 'K2D', sans-serif;
  font-size: 15px;
   color:dimgray;
   
}

#button{
    border-radius: 30px;
    color: black;
    background-color: pink;
    border-style: double;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
